<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="{% static 'bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'my_css/menu.css' %}" />

    <title>Menu</title>
  </head>

  <body>
    <section class="navigation">
      <nav
        class="navbar shadow navbar-expand-lg navbar-light bg-light"
        style="
          background-color: #fff2d9 !important;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
        "
      >
        <div class="container pb-4 pb-md-0">
          <a class="navbar-brand text-uppercase mb-4 mb-md-0" href="#"
            ><span style="color: black; font-weight: 500"
              >{{ table.rest.restaurant_name|capfirst }}</span
            ></a
          >
          <p class="d-md-none">What do you want to have today ?</p>
          <form class="d-flex ms-auto w-100">
            <input
              class="form-control form-control-sm me-2 p-2"
              type="search"
              placeholder="{{ table.rest.restaurant_name|capfirst }}"
              aria-label="Search"
            />
            <button class="btn btn-sm" type="submit">
              <i class="material-icons" style="font-size: 20px; color: white"
                >search</i
              >
            </button>
          </form>
        </div>
      </nav>
    </section>

    <section class="category mt-4 mt-md-0 mb-4 mb-md-0">
      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        {% for i in cat %}
        <li class="nav-item" role="presentation">
          <button
            class="nav-link {% if forloop.counter == 1 %}active{% endif %}"
            id="pills-{{ i.id }}-tab"
            data-bs-toggle="pill"
            data-bs-target="#pills-{{ i.id }}"
            type="button"
            role="tab"
            aria-controls="pills-{{ i.id }}"
            aria-selected="{% if forloop.counter == 1 %}true{% endif %}"
          >
            <i class="material-icons" 
                >lunch_dining</i
              >
          </button>
          {{ i.Category_Name }}
        </li>
        {% endfor %}
      </ul>

      <div class="tab-content" id="pills-tabContent">
        {% for j in cat %}
        <div
          class="tab-pane fade{% if forloop.counter == 1 %} show active{% endif %}"
          id="pills-{{ j.id }}"
          role="tabpanel"
          aria-labelledby="pills-{{ j.id }}-tab"
        >
        <div class="row">

          {% for i in menu %} 
            {% if j.Category_Name == i.category.Category_Name %} 
              
                  <div class="col-6 col-md-3 " >
                    <div class="card" >
                      <img src="{{ i.Dish_image.url }}" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{ i.Dish_Name }}</h5>
                        <p class="card-text">{{ i.Dish_Description|truncatechars:15 }}</p>
                      </div>
                    </div>
                  </div>
                  
                
            {% endif %} 
          {% endfor %}
   
          </div>
        </div>

        {% endfor %}
      </div>
    </section>

    <!-- javascript added -->

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>
