body {
  padding: 0px;
  margin: 0px;
}

.navbar > .container > .d-flex > .form-control {
  border: 0px;
  background-color: whitesmoke;
  border-radius: 10px;
}

.navbar > .container > .d-flex > .btn {
  background-color: #76c5bb;
  border-radius: 13px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.form-control:focus {
  border-color: #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.category {
  padding: 10px;
}

.category .nav .nav-item .nav-link {
  background-color: #fff2d9;
  border-radius: 30px;
  padding: 25px;
  margin: 10px;
  color: black;
  font-size: 25px;
}

.category .nav .nav-item {
  text-align: center;
  text-transform: uppercase;
}

.category .nav .nav-item .nav-link.active {
  color: #fff;
  background-color: #3b9a75;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.category .nav {
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
}

.category .nav .nav-item {
  white-space: nowrap;
}

.category .nav::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.category .nav {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tab-content .tab-pane .card {
  background-color: #fff2d9;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.tab-content .tab-pane .card .card-img-top {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  height: 100px;
}
