<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"
      rel="stylesheet">

    <title>Waiter Dashboard</title>
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}" />
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="d-flex" id="main-wrapper">
        <!-- Sidebar -->
        <div class="bg-white" id="sidebar">
            <div class="sidebar-heading text-center py-4 primary-text fs-4 fw-bold text-uppercase border-bottom" >{% block res_name %}{{ restro.restaurant_name }}{% endblock %}</div>
            <div class="list-group list-group-flush my-3">
                <a href="{% url 'kitchen:t_order' %}" class="list-group-item list-group-item-action bg-transparent second-text active" >
                    <span class="me-3 mt-4"
                    ><i class="material-icons">dashboard</i></span
                    >
                    <span>Today's Order</span>
                </a>


                                <div>
                    <a class="list-group-item list-group-item-action bg-transparent second-text fw-bold" data-bs-toggle="collapse" href="#categorycollapse" role="button" aria-expanded="false" aria-controls="categorycollapse">
                        <span class="me-3"><i class="material-icons">category</i></span>
                        <span>CATEGORIES</span>
                    </a>

                    <div class="collapse px-2 py-2" id="categorycollapse">
                        <a href="{% url 'kitchen:add_category' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" >
                            <span class="me-3"
                                ><i class="material-icons">add_box</i></span
                            >
                            <span>ADD CATEGORIES</span></a
                            >
                        </a>

                        <a href="{% url 'kitchen:cat_list' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" >
                            <span class="me-3"
                                ><i class="material-icons">list_alt</i></span
                            >
                            <span>MANAGE CATEGORIES</span></a
                            >
                        </a>

                    </div>
                </div>

                                <div>
                    <a class="list-group-item list-group-item-action bg-transparent second-text fw-bold" data-bs-toggle="collapse" href="#menucollapse" role="button" aria-expanded="false" aria-controls="menucollapse">
                        <span class="me-3"><i class="material-icons">restaurant_menu</i></span>
                        <span>MENU</span>
                    </a>

                    <div class="collapse px-2 py-2" id="menucollapse">
                        <a href="{% url 'kitchen:add_menu' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" >
                            <span class="me-3"
                                ><i class="material-icons">add_box</i></span
                            >
                            <span>ADD MENU</span></a
                            >
                        </a>

                        <a href="{% url 'kitchen:menu_list' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold" >
                            <span class="me-3"
                                ><i class="material-icons">list_alt</i></span
                            >
                            <span>MANAGE MENU</span></a
                            >
                        </a>

                    </div>
                </div>

                <a href="{% url 'kitchen:user_d' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <span class="me-3 mt-4"
                    ><i class="material-icons">person</i></span
                    >
                    <span>User Profile</span>
                </a>

                <a href="{% url 'accounts:user_logout' %}" class="list-group-item list-group-item-action bg-transparent second-text fw-bold">
                    <span class="me-3 mt-4"
                    ><i class="material-icons ">power_settings_new</i></span
                    >
                    <span>Logout</span>
                </a>

            </div>
        </div>

        <div id="page-content-wrapper">
            <nav class="navbar navbar-expand-lg navbar-light bg-transparent py-4 px-4">
                <div class="d-flex align-items-center">
                    <i class="material-icons primary-text fs-4 me-3" id="menu-toggle">tune</i>
                    <h2 class="fs-2 m-0">Dashboard</h2>
                </div>


            </nav>

            <div class="container-fluid px-4">
                
                {% block body %}
                    
                {% endblock body %}
                    

            </div>
        </div>
    </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        var el = document.getElementById("main-wrapper");
        var toggleButton = document.getElementById("menu-toggle");

        toggleButton.onclick = function () {
            el.classList.toggle("toggled");
        };
    </script>
</body>

</html>
